.DS_Store

pdf-generator-frontend/.DS_Store
pdf-generator-frontend/node_modules
pdf-generator-frontend/test/tmp

pdf-generator-frontend/.sass-cache
pdf-generator-frontend/.tmp

# Ignore bundler config.
pdf-generator-backend/.bundle

# Ignore the default SQLite database.
pdf-generator-backend/db/*.sqlite3
pdf-generator-backend/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
pdf-generator-backend/log/*
!/log/.keep
pdf-generator-backend/tmp
pdf-generator-backend/reports/*
pdf-generator-backend/config/*yml